<h1> <%= room.name %> </h1>

<pre> <%= room.description %> </pre>

<% if room.name == 'death' || room.name == 'The End' %>
  <p><a href='/'>Play again?</a></p>
<% else %>
  <p>
    <form method='post' action='/game' class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" name='action' class="form-control" placeholder="What do you do?">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <!-- <form method='post' action='/game'>
      - <input type='text' name='action'> <input type='submit'>
    </form> -->
  </p>
<% end %>
