<h1>Welcome to the Gothon Game!</h1>

<h3>Please sign up or log in to access your Gothon account</h3>


<p><button type=button><a href="/registrations/signup">Sign Up</a></button></p>
<p><button type="button>"><a href="/sessions/login">Log In</a></button></p>
