<div class='page-header' id="died">
  <h1><span id="youdied">You died!</span>
  </br>
  </br>
  <small>Looks like you bit the dust</small></h1>
</div>

<div id="playagain">
  <p><a href='/start' class="blink_me">Play again</a></p>
</div>
