<div >
  <img src="img/bacon.png" alt="bacon" width="150px" class="bacon1">

  <img src="img/bacon.png" alt="bacon" width="150px" class="bacon2">

  <img src="img/bacon.png" alt="bacon" width="150px" class="bacon3">

  <img src="img/bacon.png" alt="bacon" width="150px" class="bacon4">
</div>


<div class="won">
  <h1>YOU WON!</h1>
  <p>Congratulations! Looks like you are not such an incompetent idiot after all.<p>
  <p>Now go get yourself some banana toffee ice cream.</p>
</div>

<div id="playagain">
  <p><a href='/' class="blink_me">Play again</a></p>
</div>
