<div >
  <% 4.times do |i| %>
    <%= "<img src='img/bacon.png' alt='bacon' width='150px' class='bacon#{i+1}'>" %>
  <% end %>
</div>

<div class="won">
  <h1>YOU WON!</h1>
  <p>Congratulations! Looks like you are not such an incompetent idiot after all.<p>
  <p>Now go get yourself some banana toffee ice cream.</p>
</div>

<div id="playagain">
  <p><a href='/start' class="blink_me">Play again</a></p>
</div>
